.btn-primary {
    background-color: #c83b3f;
    border-color: #c83b3f;
    
    &:hover, 
    &:active, 
    &:focus, 
    &:focus-within, 
    &:visited {
        background-color: $colour-red;
        border-color: $colour-red;
    }
}

