.btn-primary {
    background-color: $colour-flush-mahogany;
    border-color: $colour-flush-mahogany;
    
    &:hover, 
    &:active, 
    &:focus, 
    &:focus-within, 
    &:visited {
        background-color: $colour-medium-carmine;
        border-color: $colour-medium-carmine;
    }
}

