html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import 'variables';

body {
  font-family: $fontFamily-base;
  line-height: .75;
  font-size: $fontSize-base;
  background-color: $colour-mineshaft;
}

@import 'components/Button';
@import 'components/Capacity';
@import 'components/Category';
@import 'components/Datepicker';
@import 'components/FileUploader';
@import 'components/Filters';
@import 'components/Header';
@import 'components/Input';
@import 'components/Label';
@import 'components/Login';
@import 'components/Map';
@import 'components/Venues';
@import 'components/VenueDetails';
@import 'btn';
@import 'utilities';
@import 'form';