html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header{
  background:white;
  border-bottom:#ccc 1px solid;
  padding:50px;
}

body {
  font-family: Helvectica, Arial, sans-serif;
  line-height: .75;
  font-size: 14px
}

.Header-icon {
  margin: 16px 32px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.Header-iconImage {
  width: 40px;
  height: 40px;
}

.Header-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.Header-title a {
  color: #4B5361;
  text-decoration: none;
}

.Header-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
}

.Header-navItem {
  display: inline-block;
  font-size: 14px;
  color: #4B5361;
  padding: 30px 0;
  width: 120px;
  text-align: center;
}

.Header-navItem--active {
  border-bottom: 2px solid #EE6468;
  width: 90px;
}

.Header-navItem a {
  color: #4B5361;
  text-decoration: none;
}

.Filter {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 100;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C7CBD2;
  background: url(images/down.png) #fff no-repeat;
  background-position: 230px 18px;
}

.Filter-container { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.Filter-parent {
  padding: 14px 8px 10px;
  position: relative;
}

.Filter-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  line-height: 26px;
  position: absolute;
  width: 242px;
  padding: 0 0 0 8px;
  left: -1px;
  border: 1px solid #C7CBD2;
  border-top: none;
  max-height: 150px;
  overflow-y: scroll;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Filter-parent:focus .Filter-list,
.Filter-parent:hover .Filter-list {
  display: block;
  background-color: #fff;
}

.Filter-listItemAnchor {
  color: #4B5361;
  text-decoration: none;
}

#map_canvas {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}

