.Category {
    background-color: $colour-white;
    background-position: 230px 18px;
    margin: $gutter;
    font-size: 18px;

    @media(max-width: 600px){
        position: relative;
    }
    
    &-parent {
        padding: 14px 8px $gutter;
        color: $colour-mineshaft;
    }

    &-list {
        list-style: none;
        margin: $gutter 0 0 0;
        line-height: 26px;
        position: absolute;
        width: 242px;
        padding: 0 0 0 8px;
        left: -1px;
        border: 1px solid $colour-ghost;
        border-top: none;
        overflow-y: scroll;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        width: 100%;
    }

    &-listItemAnchor {
        color: $colour-trout;
        text-decoration: none;
    }
}
.Search {
    &-section {
        border-radius: $border-radius;
        position: fixed;
        top: 230px;
        left: calc(100% - 70%);
        padding: $gutter*3;
        background: $colour-mineshaft-opaque;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;

        @media(max-width: 600px){
            position: relative;
            left: 0;
            top: 130px;
            width: 100%;
        }
    }


}
