.Header {
    background: $colour-black;
    border-bottom: $colour-mineshaft 1px solid;
    padding: 0.25em;

    &-icon {
        border-radius: 20px;
        a {
            display: flex;
            justify-content: center;
        }

        &Image {
            @media(max-width: 600px){
                width: 100%;
            }
            width: 75%;
 
            &--back {
                background-image: url('../images/back.png');
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }


    &-title {
        margin: 0;
        width: 100%;
        font-size: 26px;
    }

    &-title a {
        color: $colour-alto;
        text-decoration: none;
    }

    &-nav {
        display: inline-block;
        list-style: none;
        margin: 0 0 0 40px;
        padding: 0;
    }

    &-navItem {
        display: inline-block;
        font-size: 14px;
        color: $colour-trout;
        padding: 30px 0;
        width: 120px;
        text-align: center;
    }

    &-navItem--active {
        border-bottom: 2px solid $colour-burnt-sienna;
        width: 90px;
    }

    &-navItem a {
        color: $colour-trout;
        text-decoration: none;
    }

    &-loginButton {
        margin-right: $gutter;
    }
}