.Intro {
  background-color: transparent;
  color: $colour-black;
  padding: 0;
  padding-left: 0 !important;
  margin: $gutter;
  text-align: left;
  line-height: 1.2;
  .h1 {
    padding-left: 0;
  }
}
