.Login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    padding: $gutter*2;
    background-color: $colour-white;
    border-radius: $border-radius;

    &-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $overlay;
        z-index: $z-front;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        opacity: 0.7;
        border-radius: 0 $border-radius 0 $border-radius;
    }

    &-header {
        margin: $gutter $gutter*2 $gutter 0;
    }
    
    &-submit {
        margin-bottom: $gutter;
        width: 100%;
    }

    .Input {
        width: 100%;
    }
}