.Map {
    position: absolute;
    top: 113px;
    left: 0;
    right: 0;
    bottom: 0;

    @media(max-width: 600px) {
        display: none;
    }

    &--venue {
        @media(max-width: 600px) {
            display: block;
        }        
    }
}