.Map {
    position: relative;
    width: 100%;
    height: 400px;

    @media(max-width: 600px) {
        display: none;
    }

    &--venue {
        height: 350px;
        
        @media(min-width: 900px) {
            width: 100%;
            height: 300px;
        }        
    }
}
.container-fluid {
    display: flex;
    flex-direction: column;
}