.Venues {
    position: absolute;
    top: 290px;
    overflow-y: scroll;
    width: 350px;
    z-index: $z-front;

    @media(max-width: 600px) {
        width: 100%;
        z-index: -1;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: $gutter;

        &Item {
            
            &Anchor {
                display: block;
                position: relative;
                width: 100%;
                background-color: $colour-ghost;
                height: 300px;
                margin-bottom: $gutter;
                background-image: url('../images/venues/william-morris-gallery.jpg');
                background-size: cover;
                background-position: center center;
                border-radius: $border-radius;
            }

            &Description {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0, 0.5);
                padding: $gutter*2;
                color: white;
                font-size: 20px;
                line-height: 22px;
                border-radius: 0 0 $border-radius $border-radius;
            }
        }
    }
}
