.Venues {

    @media(max-width: 600px) {
        width: 100%;
    }

    &-list {
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: $gutter;
        padding: 0;

        &Item {
        margin: $gutter;
        width: 20%;
        border: $colour-ghost solid 1px;
        border-radius: $border-radius;

        @media(max-width: 600px) {
            margin: $gutter/2;
            width: 100%;
        }
            
            &Anchor {
                display: block;
                padding: $gutter;
                width: 100%;
                height: 100%;
                margin-bottom: $gutter;
                background-image: url(../images/venues/william-morris-gallery.jpg);
                background-size: 50px;
                border-radius: 3px;
                background-repeat: no-repeat;
                background-position: 97%;
                border-radius: $border-radius;
            }

             &Description {
                color: $colour-mineshaft;
                h4 {
                    color: $colour-medium-carmine;
                }
             }

            .small-text {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}
