.VenueDetails {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    background: $colour-mineshaft;
    padding: $gutter;

    
    &-hero {
        .FileUploader {
            top: 0;
            right: 0;
        }

        background: $colour-white;

        &Details {
            padding: $gutter*2;
            margin: 0;
        }
    }
    
    &-title {
    }

    &-actions {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-description,
    &-offers {
        padding: $gutter*2;
        background: $colour-white;
        font-size: 16px;
        line-height: 18px;
        margin: $gutter 0 0;     
    }

    &-mainImage {
        float: right;
        color: $colour-mineshaft;
        position: relative;
        max-width: 50%;

        #dropbox {
            border: 2px dashed $colour-cod-grey;
            color: $colour-mineshaft;
            position: absolute;
        }
    }

    &-images {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-image {
        display: inline-block;
        width: 33%;
        height: 200px;
        background-size: cover;
    }

    &-dateprice {
        position: absolute;
        bottom: 0;
        font-weight: bold;
        padding: 20px 0 0 20px;

    }

    &-price {
        font-size: 22px;
    }

    &-date {
        font-size: 18px;
        font-weight: normal;
        line-height: 18px;
    }

    &-greyed {
        opacity: 0.6;

        @media(max-width: 600px) {
            display: block;
        }
    }

    h3 {
        font-size: 18px;
        padding: 20px 0 0;
    }

    &-list {
        color: white;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}
