/* line 1, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/** Colours
 *  Colours named according to: http://chir.ag/projects/name-that-color/
**/
/** Z-indices
 *  Use these as base z-index values and add or subtract according to what's required e.g. 
 *  z-index: $z-mid+1;
**/
/* line 9, ../sass/main.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: .75;
  font-size: 14px;
  background-color: #303030;
}

/* line 1, ../sass/components/_Button.scss */
.Button {
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 3px;
  float: right;
  margin: 12px 12px 12px 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
/* line 13, ../sass/components/_Button.scss */
.Button--primary {
  background-color: #009688;
}
/* line 16, ../sass/components/_Button.scss */
.Button--primary:hover {
  background-color: #00c9b6;
  color: #fff;
}
/* line 22, ../sass/components/_Button.scss */
.Button--secondary {
  background-color: #00635a;
  color: #dddddd;
}
/* line 26, ../sass/components/_Button.scss */
.Button--secondary:hover {
  background-color: #009688;
  color: #303030;
}
/* line 32, ../sass/components/_Button.scss */
.Button:hover {
  text-decoration: none;
}

/* line 1, ../sass/components/_Capacity.scss */
.Capacity {
  margin: 12px 0 12px 12px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #c7cbd2;
  width: 110px;
}

/* line 1, ../sass/components/_Category.scss */
.Category {
  z-index: 51;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c7cbd2;
  background-position: 230px 18px;
  margin: 12px;
  font-size: 18px;
  width: 330px;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Category.scss */
  .Category {
    position: relative;
    width: 100%;
  }
}
/* line 16, ../sass/components/_Category.scss */
.Category-parent {
  padding: 14px 8px 12px;
  position: relative;
}
/* line 21, ../sass/components/_Category.scss */
.Category-list {
  list-style: none;
  margin: 12px 0 0 0;
  line-height: 26px;
  position: absolute;
  width: 242px;
  padding: 0 0 0 8px;
  left: -1px;
  border: 1px solid #c7cbd2;
  border-top: none;
  overflow-y: scroll;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}
/* line 37, ../sass/components/_Category.scss */
.Category-listItemAnchor {
  color: #4B5361;
  text-decoration: none;
}

/* line 43, ../sass/components/_Category.scss */
.Search-section {
  border-radius: 3px;
  position: fixed;
  top: 230px;
  left: calc(100% - 70%);
  padding: 36px;
  background: rgba(48, 48, 48, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 40%;
}
@media (max-width: 600px) {
  /* line 43, ../sass/components/_Category.scss */
  .Search-section {
    position: relative;
    left: 0;
    top: 130px;
    width: 100%;
  }
}

/* line 1, ../sass/components/_Datepicker.scss */
.Datepicker {
  margin: 12px 0 12px 12px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #c7cbd2;
  width: 125px;
}

/* line 1, ../sass/components/_FileUploader.scss */
.FileUploader {
  position: absolute;
}

/* line 1, ../sass/components/_Filters.scss */
.Filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  z-index: 50;
}
/* line 9, ../sass/components/_Filters.scss */
.Filters input {
  display: inline-block;
}

/* line 1, ../sass/components/_Header.scss */
.Header {
  background: #000;
  border-bottom: #303030 1px solid;
  padding: 0.25em;
  position: fixed;
}
/* line 7, ../sass/components/_Header.scss */
.Header-icon {
  border-radius: 20px;
}
/* line 9, ../sass/components/_Header.scss */
.Header-icon a {
  display: flex;
  justify-content: center;
}
/* line 14, ../sass/components/_Header.scss */
.Header-iconImage {
  width: 85%;
}
@media (max-width: 600px) {
  /* line 14, ../sass/components/_Header.scss */
  .Header-iconImage {
    width: 100%;
  }
}
/* line 20, ../sass/components/_Header.scss */
.Header-iconImage--back {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 29, ../sass/components/_Header.scss */
.Header-title {
  margin: 0;
  width: 100%;
  font-size: 26px;
}
/* line 35, ../sass/components/_Header.scss */
.Header-title a {
  color: #dddddd;
  text-decoration: none;
}
/* line 40, ../sass/components/_Header.scss */
.Header-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
}
/* line 47, ../sass/components/_Header.scss */
.Header-navItem {
  display: inline-block;
  font-size: 14px;
  color: #4B5361;
  padding: 30px 0;
  width: 120px;
  text-align: center;
}
/* line 56, ../sass/components/_Header.scss */
.Header-navItem--active {
  border-bottom: 2px solid #EE6468;
  width: 90px;
}
/* line 61, ../sass/components/_Header.scss */
.Header-navItem a {
  color: #4B5361;
  text-decoration: none;
}
/* line 66, ../sass/components/_Header.scss */
.Header-loginButton {
  margin-right: 12px;
}

/* line 1, ../sass/components/_Input.scss */
.Input {
  padding: 6px;
}

/* line 1, ../sass/components/_Intro.scss */
.Intro {
  background-color: transparent;
  color: #fff;
  padding: 24px;
  margin: 12px;
  text-align: center;
  line-height: 1.2;
}

/* line 1, ../sass/components/_Label.scss */
.Label {
  margin-bottom: 24px;
}

/* line 1, ../sass/components/_Login.scss */
.Login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 3px;
}
/* line 11, ../sass/components/_Login.scss */
.Login-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 21, ../sass/components/_Login.scss */
.Login-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  color: #aa383b;
}
/* line 28, ../sass/components/_Login.scss */
.Login-close:hover {
  text-decoration: none;
  color: #c83b3f;
}
/* line 34, ../sass/components/_Login.scss */
.Login .Input {
  width: 100%;
}
/* line 38, ../sass/components/_Login.scss */
.Login .btn {
  margin-bottom: 12px;
  width: 100%;
}

/* line 1, ../sass/components/_Map.scss */
.Map {
  position: fixed !important;
  right: 0;
  bottom: 0;
  top: 240px;
  width: 100%;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Map.scss */
  .Map {
    display: none;
  }
}
/* line 13, ../sass/components/_Map.scss */
.Map--venue {
  position: static;
  margin-top: 24px;
  width: 900px;
  height: 350px;
  display: block !important;
}
@media (min-width: 900px) {
  /* line 13, ../sass/components/_Map.scss */
  .Map--venue {
    position: fixed !important;
    top: 33px;
    bottom: 0;
    height: calc(100% - 53px);
    right: 0;
    left: auto;
    width: calc(100% - 900px);
  }
}

/* line 31, ../sass/components/_Map.scss */
.container-fluid {
  display: flex;
  flex-direction: column;
}

/* line 1, ../sass/components/_Venues.scss */
.Venues {
  position: absolute;
  top: 290px;
  overflow-y: scroll;
  width: 350px;
  z-index: 100;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Venues.scss */
  .Venues {
    width: 100%;
    z-index: -1;
  }
}
/* line 13, ../sass/components/_Venues.scss */
.Venues-list {
  list-style: none;
  padding: 0;
  margin: 12px;
}
/* line 20, ../sass/components/_Venues.scss */
.Venues-listItemAnchor {
  display: block;
  position: relative;
  width: 100%;
  background-color: #c7cbd2;
  height: 300px;
  margin-bottom: 12px;
  background-image: url("../images/venues/william-morris-gallery.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
}
/* line 33, ../sass/components/_Venues.scss */
.Venues-listItemDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  color: white;
  font-size: 20px;
  line-height: 22px;
  border-radius: 0 0 3px 3px;
}

/* line 1, ../sass/components/_VenueDetails.scss */
.VenueDetails {
  max-width: 900px;
}
/* line 4, ../sass/components/_VenueDetails.scss */
.VenueDetails-hero {
  background-image: url("../images/venues/william-morris-gallery.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  max-width: 900px;
  position: relative;
}
/* line 13, ../sass/components/_VenueDetails.scss */
.VenueDetails-hero .FileUploader {
  top: 0;
  right: 0;
}
/* line 18, ../sass/components/_VenueDetails.scss */
.VenueDetails-heroDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 24px;
  margin: 0;
}
@media (max-width: 600px) {
  /* line 18, ../sass/components/_VenueDetails.scss */
  .VenueDetails-heroDetails {
    padding-bottom: 120px;
  }
}
/* line 37, ../sass/components/_VenueDetails.scss */
.VenueDetails-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 44, ../sass/components/_VenueDetails.scss */
.VenueDetails-description {
  color: #dddddd;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 20px 30px;
}
/* line 51, ../sass/components/_VenueDetails.scss */
.VenueDetails-images {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 59, ../sass/components/_VenueDetails.scss */
.VenueDetails-image {
  display: inline-block;
  width: 33%;
  height: 200px;
  background-size: cover;
}
/* line 66, ../sass/components/_VenueDetails.scss */
.VenueDetails-dateprice {
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: bold;
  padding: 20px 0 0 20px;
}
/* line 75, ../sass/components/_VenueDetails.scss */
.VenueDetails-price {
  font-size: 22px;
}
/* line 79, ../sass/components/_VenueDetails.scss */
.VenueDetails-date {
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
}
/* line 85, ../sass/components/_VenueDetails.scss */
.VenueDetails-greyed {
  opacity: 0.6;
}
@media (max-width: 600px) {
  /* line 85, ../sass/components/_VenueDetails.scss */
  .VenueDetails-greyed {
    display: block;
  }
}
/* line 93, ../sass/components/_VenueDetails.scss */
.VenueDetails h3 {
  color: white;
  font-size: 18px;
  padding: 20px 0 0;
}
/* line 99, ../sass/components/_VenueDetails.scss */
.VenueDetails-list {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

/* line 1, ../sass/_btn.scss */
.btn-primary {
  background-color: #c83b3f;
  border-color: #c83b3f;
}
/* line 5, ../sass/_btn.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus-within, .btn-primary:visited {
  background-color: #aa383b;
  border-color: #aa383b;
}

/* line 2, ../sass/_utilities.scss */
.u-hide {
  display: none;
}

/* line 1, ../sass/_form.scss */
.form-container {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
}
/* line 7, ../sass/_form.scss */
.form-container .form-container fieldset:not(:first-child) {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
/* line 12, ../sass/_form.scss */
.form-container label {
  color: white;
}
