/* line 1, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 7, ../sass/main.scss */
body {
  font-family: Helvectica, Arial, sans-serif;
  line-height: .75;
  font-size: 14px;
  background-color: #303030;
}

/* line 1, ../sass/components/_Header.scss */
.Header {
  background: #111;
  border-bottom: #222 1px solid;
  padding: 0;
}
/* line 6, ../sass/components/_Header.scss */
.Header-icon {
  margin: 16px 32px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
/* line 13, ../sass/components/_Header.scss */
.Header-iconImage {
  width: 20px;
  height: 20px;
  display: block;
}
/* line 18, ../sass/components/_Header.scss */
.Header-iconImage--back {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 27, ../sass/components/_Header.scss */
.Header-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 26px;
  max-width: calc(100% - 110px);
  overflow: hidden;
  height: 30px;
}
/* line 38, ../sass/components/_Header.scss */
.Header-title a {
  color: #ddd;
  text-decoration: none;
}
/* line 43, ../sass/components/_Header.scss */
.Header-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
}
/* line 50, ../sass/components/_Header.scss */
.Header-navItem {
  display: inline-block;
  font-size: 14px;
  color: #4B5361;
  padding: 30px 0;
  width: 120px;
  text-align: center;
}
/* line 59, ../sass/components/_Header.scss */
.Header-navItem--active {
  border-bottom: 2px solid #EE6468;
  width: 90px;
}
/* line 64, ../sass/components/_Header.scss */
.Header-navItem a {
  color: #4B5361;
  text-decoration: none;
}

/* line 1, ../sass/components/_Filters.scss */
.Filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
/* line 7, ../sass/components/_Filters.scss */
.Filters input {
  display: block;
}

/* line 1, ../sass/components/_Datepicker.scss */
.Datepicker {
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* line 1, ../sass/components/_Capacity.scss */
.Capacity {
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 120px;
}

/* line 1, ../sass/components/_Category.scss */
.Category {
  z-index: 100;
  margin: 10px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C7CBD2;
  background: url(../images/down.png) #fff no-repeat;
  background-position: 230px 18px;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Category.scss */
  .Category {
    display: none;
  }
}
/* line 16, ../sass/components/_Category.scss */
.Category-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/components/_Category.scss */
.Category-parent {
  padding: 14px 8px 10px;
  position: relative;
}
/* line 27, ../sass/components/_Category.scss */
.Category-list {
  display: none;
  list-style: none;
  margin: 10px 0 0 0;
  line-height: 26px;
  position: absolute;
  width: 242px;
  padding: 0 0 0 8px;
  left: -1px;
  border: 1px solid #C7CBD2;
  border-top: none;
  max-height: 150px;
  overflow-y: scroll;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 46, ../sass/components/_Category.scss */
.Category-parent:focus .Category-list, .Category-parent:hover .Category-list {
  display: block;
  background-color: #fff;
}
/* line 52, ../sass/components/_Category.scss */
.Category-listItemAnchor {
  color: #4B5361;
  text-decoration: none;
}

/* line 1, ../sass/components/_Venues.scss */
.Venues {
  position: absolute;
  top: 113px;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  width: 350px;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Venues.scss */
  .Venues {
    width: 100%;
  }
}
/* line 13, ../sass/components/_Venues.scss */
.Venues-list {
  list-style: none;
  padding: 0;
  margin: 10px;
}
/* line 19, ../sass/components/_Venues.scss */
.Venues-listItemAnchor {
  display: block;
  position: relative;
  width: 100%;
  background-color: #bdbdbd;
  height: 300px;
  margin-bottom: 10px;
  background-image: url("../images/venues/william-morris-gallery.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 31, ../sass/components/_Venues.scss */
.Venues-listItemDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px 40px;
  color: white;
  font-size: 20px;
  line-height: 22px;
}

/* line 1, ../sass/components/_VenueDetails.scss */
.VenueDetails {
  max-width: 900px;
}
/* line 4, ../sass/components/_VenueDetails.scss */
.VenueDetails-hero {
  background-image: url("../images/venues/william-morris-gallery.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  max-width: 900px;
  position: relative;
}
/* line 14, ../sass/components/_VenueDetails.scss */
.VenueDetails-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  margin: 0;
}

/* line 1, ../sass/_btn.scss */
.btn-primary {
  background-color: #c83b3f;
  border-color: #c83b3f;
}
/* line 5, ../sass/_btn.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus-within, .btn-primary:visited {
  background-color: #aa383b;
  border-color: #aa383b;
}

/* line 1, ../sass/_form.scss */
.form-container {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
}
/* line 7, ../sass/_form.scss */
.form-container .form-container fieldset:not(:first-child) {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
/* line 12, ../sass/_form.scss */
.form-container label {
  color: white;
}

/* line 1, ../sass/_map.scss */
#map_canvas {
  position: absolute;
  top: 113px;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 600px) {
  /* line 1, ../sass/_map.scss */
  #map_canvas {
    display: none;
  }
}
