/* line 1, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/** Colours
 *  Colours named according to: http://chir.ag/projects/name-that-color/
**/
/** Z-indices
 *  Use these as base z-index values and add or subtract according to what's required e.g. 
 *  z-index: $z-mid+1;
**/
/* line 9, ../sass/main.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-size: 14px;
}

/* line 1, ../sass/components/_Button.scss */
.Button {
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 3px;
  float: right;
  margin: 12px 12px 12px 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
/* line 13, ../sass/components/_Button.scss */
.Button--primary {
  background-color: #009688;
}
/* line 16, ../sass/components/_Button.scss */
.Button--primary:hover {
  background-color: #00c9b6;
  color: #fff;
}
/* line 22, ../sass/components/_Button.scss */
.Button--secondary {
  background-color: #00635a;
  color: #dddddd;
}
/* line 26, ../sass/components/_Button.scss */
.Button--secondary:hover {
  background-color: #009688;
  color: #303030;
}
/* line 32, ../sass/components/_Button.scss */
.Button:hover {
  text-decoration: none;
}

/* line 37, ../sass/components/_Button.scss */
#back-button {
  margin: 12px;
}

/* line 1, ../sass/components/_Capacity.scss */
.Capacity {
  margin: 12px 0 12px 12px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #c7cbd2;
  width: 110px;
}

/* line 1, ../sass/components/_Category.scss */
.Category {
  background-color: #fff;
  background-position: 230px 18px;
  margin: 12px;
  font-size: 18px;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Category.scss */
  .Category {
    position: relative;
  }
}
/* line 11, ../sass/components/_Category.scss */
.Category-parent {
  padding: 14px 8px 12px;
  color: #303030;
}
/* line 16, ../sass/components/_Category.scss */
.Category-list {
  list-style: none;
  margin: 12px 0 0 0;
  line-height: 26px;
  position: absolute;
  width: 242px;
  padding: 0 0 0 8px;
  left: -1px;
  border: 1px solid #c7cbd2;
  border-top: none;
  overflow-y: scroll;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}
/* line 32, ../sass/components/_Category.scss */
.Category-listItemAnchor {
  color: #4B5361;
  text-decoration: none;
}

/* line 38, ../sass/components/_Category.scss */
.Search-section {
  border-radius: 3px;
  position: fixed;
  top: 230px;
  left: calc(100% - 70%);
  padding: 36px;
  background: rgba(48, 48, 48, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
@media (max-width: 600px) {
  /* line 38, ../sass/components/_Category.scss */
  .Search-section {
    position: relative;
    left: 0;
    top: 130px;
    width: 100%;
  }
}

/* line 1, ../sass/components/_Datepicker.scss */
.Datepicker {
  margin: 12px 0 12px 12px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #c7cbd2;
  width: 125px;
}

/* line 1, ../sass/components/_FileUploader.scss */
.FileUploader {
  position: absolute;
}

/* line 1, ../sass/components/_Filters.scss */
.Filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  z-index: 50;
}
/* line 9, ../sass/components/_Filters.scss */
.Filters input {
  display: inline-block;
}

/* line 1, ../sass/components/_Form.scss */
.Form {
  background: #fff;
}

/* line 1, ../sass/components/_Header.scss */
.Header {
  margin: auto;
  width: 100%;
  background: #000;
  border-bottom: #303030 1px solid;
  padding: 0.25em;
  display: flex;
}
/* line 9, ../sass/components/_Header.scss */
.Header-icon {
  margin: auto;
  border-radius: 20px;
}
/* line 12, ../sass/components/_Header.scss */
.Header-icon a {
  display: flex;
  justify-content: center;
}
/* line 17, ../sass/components/_Header.scss */
.Header-iconImage {
  width: 75%;
}
@media (max-width: 600px) {
  /* line 17, ../sass/components/_Header.scss */
  .Header-iconImage {
    width: 100%;
  }
}
/* line 23, ../sass/components/_Header.scss */
.Header-iconImage--back {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 32, ../sass/components/_Header.scss */
.Header-title {
  margin: 0;
  width: 100%;
  font-size: 26px;
}
/* line 38, ../sass/components/_Header.scss */
.Header-title a {
  color: #dddddd;
  text-decoration: none;
}
/* line 43, ../sass/components/_Header.scss */
.Header-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
}
/* line 50, ../sass/components/_Header.scss */
.Header-navItem {
  display: inline-block;
  font-size: 14px;
  color: #4B5361;
  padding: 30px 0;
  width: 120px;
  text-align: center;
}
/* line 59, ../sass/components/_Header.scss */
.Header-navItem--active {
  border-bottom: 2px solid #EE6468;
  width: 90px;
}
/* line 64, ../sass/components/_Header.scss */
.Header-navItem a {
  color: #4B5361;
  text-decoration: none;
}
/* line 69, ../sass/components/_Header.scss */
.Header-loginButton {
  margin-right: 12px;
  margin-bottom: 12px;
  align-self: flex-end;
}

/* line 1, ../sass/components/_Input.scss */
.Input {
  padding: 6px;
}

/* line 1, ../sass/components/_Intro.scss */
.Intro {
  background-color: transparent;
  color: #fff;
  padding: 24px;
  margin: 12px;
  text-align: center;
  line-height: 1.2;
}

/* line 1, ../sass/components/_Label.scss */
.Label {
  margin-bottom: 12px;
}
/* line 4, ../sass/components/_Label.scss */
.Label.form-group {
  color: #4B5361;
  display: block;
  line-height: 18px;
}

/* line 1, ../sass/components/_Login.scss */
.Login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 3px;
}
/* line 11, ../sass/components/_Login.scss */
.Login-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 21, ../sass/components/_Login.scss */
.Login-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  color: #aa383b;
}
/* line 28, ../sass/components/_Login.scss */
.Login-close:hover {
  text-decoration: none;
  color: #c83b3f;
}
/* line 34, ../sass/components/_Login.scss */
.Login .Input {
  width: 100%;
}
/* line 38, ../sass/components/_Login.scss */
.Login .btn {
  margin-bottom: 12px;
  width: 100%;
}

/* line 1, ../sass/components/_Map.scss */
.Map {
  position: relative;
  width: 100%;
  height: 700px;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_Map.scss */
  .Map {
    display: none;
  }
}
/* line 10, ../sass/components/_Map.scss */
.Map--venue {
  height: 350px;
}
@media (min-width: 900px) {
  /* line 10, ../sass/components/_Map.scss */
  .Map--venue {
    width: 100%;
    height: 300px;
  }
}

/* line 19, ../sass/components/_Map.scss */
.container-fluid {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  /* line 1, ../sass/components/_Venues.scss */
  .Venues {
    width: 100%;
  }
}
/* line 7, ../sass/components/_Venues.scss */
.Venues-list {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 12px;
  padding: 0;
}
/* line 15, ../sass/components/_Venues.scss */
.Venues-listItem {
  margin: 12px;
  width: 20%;
  border: #c7cbd2 solid 1px;
  border-radius: 3px;
}
@media (max-width: 600px) {
  /* line 15, ../sass/components/_Venues.scss */
  .Venues-listItem {
    margin: 6px;
    width: 100%;
  }
}
/* line 26, ../sass/components/_Venues.scss */
.Venues-listItemAnchor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}
/* line 34, ../sass/components/_Venues.scss */
.Venues-listItemAnchor:hover, .Venues-listItemAnchor:focus {
  background: #c7cbd2;
  text-decoration: none;
}
@media (max-width: 600px) {
  /* line 26, ../sass/components/_Venues.scss */
  .Venues-listItemAnchor {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}
@media (max-width: 600px) {
  /* line 45, ../sass/components/_Venues.scss */
  .Venues-listItemLogo {
    grid-column: 2;
  }
}
/* line 49, ../sass/components/_Venues.scss */
.Venues-listItemLogo img {
  width: 100%;
}
/* line 52, ../sass/components/_Venues.scss */
.Venues-listItemLogo button {
  margin: 12px;
  float: right;
}
@media (max-width: 600px) {
  /* line 52, ../sass/components/_Venues.scss */
  .Venues-listItemLogo button {
    margin: 12px 12px 0;
  }
}
/* line 61, ../sass/components/_Venues.scss */
.Venues-listItemDescription {
  color: #303030;
  padding: 12px;
}
/* line 64, ../sass/components/_Venues.scss */
.Venues-listItemDescription h4 {
  color: #aa383b;
}
@media (max-width: 600px) {
  /* line 64, ../sass/components/_Venues.scss */
  .Venues-listItemDescription h4 {
    font-size: 1.2rem;
  }
}
/* line 71, ../sass/components/_Venues.scss */
.Venues-listItemDescription p {
  clear: both;
  margin: 12px 0;
}

/* line 80, ../sass/components/_Venues.scss */
.small-text {
  font-size: 12px;
  font-weight: bold;
}

/* line 1, ../sass/components/_VenueDetails.scss */
.VenueDetails {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background: #303030;
  padding: 12px;
}
/* line 9, ../sass/components/_VenueDetails.scss */
.VenueDetails-hero {
  background: #fff;
}
/* line 10, ../sass/components/_VenueDetails.scss */
.VenueDetails-hero .FileUploader {
  top: 0;
  right: 0;
}
/* line 17, ../sass/components/_VenueDetails.scss */
.VenueDetails-heroDetails {
  padding: 24px;
  margin: 0;
}
/* line 26, ../sass/components/_VenueDetails.scss */
.VenueDetails-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 33, ../sass/components/_VenueDetails.scss */
.VenueDetails-description {
  padding: 24px;
  background: #fff;
  font-size: 16px;
  line-height: 18px;
  margin: 12px 0;
}
/* line 41, ../sass/components/_VenueDetails.scss */
.VenueDetails-images {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 49, ../sass/components/_VenueDetails.scss */
.VenueDetails-image {
  display: inline-block;
  width: 33%;
  height: 200px;
  background-size: cover;
}
/* line 56, ../sass/components/_VenueDetails.scss */
.VenueDetails-dateprice {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  padding: 20px 0 0 20px;
}
/* line 64, ../sass/components/_VenueDetails.scss */
.VenueDetails-price {
  font-size: 22px;
}
/* line 68, ../sass/components/_VenueDetails.scss */
.VenueDetails-date {
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
}
/* line 74, ../sass/components/_VenueDetails.scss */
.VenueDetails-greyed {
  opacity: 0.6;
}
@media (max-width: 600px) {
  /* line 74, ../sass/components/_VenueDetails.scss */
  .VenueDetails-greyed {
    display: block;
  }
}
/* line 82, ../sass/components/_VenueDetails.scss */
.VenueDetails h3 {
  font-size: 18px;
  padding: 20px 0 0;
}
/* line 87, ../sass/components/_VenueDetails.scss */
.VenueDetails-list {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

/* line 1, ../sass/_bootstrap_overrides.scss */
a {
  color: #303030;
}

/* line 4, ../sass/_bootstrap_overrides.scss */
.jumbotron, .container-fluid, .container {
  background-color: #fff;
  color: #303030;
}

/* line 8, ../sass/_bootstrap_overrides.scss */
.adjacent-footer {
  padding-bottom: 60px;
}

/* line 11, ../sass/_bootstrap_overrides.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 600px) {
  /* line 11, ../sass/_bootstrap_overrides.scss */
  .footer {
    height: 60px;
  }
}
/* line 19, ../sass/_bootstrap_overrides.scss */
.footer p {
  background-color: #303030;
  color: #fff;
  margin: 0;
  padding: 12px;
  text-align: center;
}

/* line 27, ../sass/_bootstrap_overrides.scss */
.btn-default {
  background: #fff;
  border: 1px solid #c7cbd2;
  color: #303030;
}
@media (max-width: 600px) {
  /* line 27, ../sass/_bootstrap_overrides.scss */
  .btn-default {
    font-size: 12px;
  }
}
/* line 34, ../sass/_bootstrap_overrides.scss */
.btn-default:hover, .btn-default:focus {
  background: #4B5361;
  color: #fff;
}

/* line 1, ../sass/_btn.scss */
.btn-primary {
  background-color: #c83b3f;
  border-color: #c83b3f;
}
/* line 5, ../sass/_btn.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus-within, .btn-primary:visited {
  background-color: #aa383b;
  border-color: #aa383b;
}

/* line 2, ../sass/_utilities.scss */
.u-hide {
  display: none;
}

/* line 1, ../sass/_form.scss */
.form-container {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
}
/* line 7, ../sass/_form.scss */
.form-container .form-container fieldset:not(:first-child) {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
/* line 12, ../sass/_form.scss */
.form-container label {
  color: #303030;
}
